<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183587622641-l1dcf6bitsqcdn6t3mbfk7nc1gta098b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183587622641-l1dcf6bitsqcdn6t3mbfk7nc1gta098b</string>
	<key>API_KEY</key>
	<string>AIzaSyBOwtGja84hAz-dqWdiR9Z5KJLykF0THLo</string>
	<key>GCM_SENDER_ID</key>
	<string>183587622641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.theBanyette</string>
	<key>PROJECT_ID</key>
	<string>thebanyette</string>
	<key>STORAGE_BUCKET</key>
	<string>thebanyette.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183587622641:ios:c464c1e5b4180c82f86350</string>
</dict>
</plist>